.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 7px;
    
    background-color: #333;

    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

}